<div class="book-details-page">

   <!-- Header section of the page including navigation and logo -->
   <header class="app-header">
    <!-- Menu button for side navigation drawer -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Container for the app logo -->
    <div class="logo">
      <img src="assets/ReadRentalLibrary.png" alt="App Logo"/>
    </div>
    <!-- Logout button for the user to sign out -->
    <button (click)="logout()">Logout</button>
  </header>

  <!-- Search Section -->
  <div class="search-section">
    <input type="text" [(ngModel)]="isbn" placeholder="Enter ISBN" class="isbn-input">
    <button (click)="searchBook()" class="search-button">Search</button>
  </div>

  <!-- Loading Spinner (Shown while loading data) -->
  <div *ngIf="loading" class="loading-spinner">Loading...</div>

  <!-- Book Details (Displayed when 'book' is available) -->
  <div *ngIf="book" class="book-info">
    <!-- Book Cover Image -->
    <img [src]="book.cover.medium" alt="Book Cover" class="book-cover">
    
    <!-- Book Title -->
    <h2 class="book-title">{{ book.title }}</h2>
    
    <!-- Book Authors (Joined using the 'joinAuthors' pipe) -->
    <p class="book-author">{{ book.authors | joinAuthors }}</p>
    
    <!-- Additional Book Details  -->
    <!-- Example: Displaying ISBN -->
    <p class="book-details">ISBN: {{ book.isbn }}</p>
  </div>

  <div class="scan-button-container">
    <ion-button (click)="scanISBN()" class="scan-button">
      <ion-icon name="camera-outline"></ion-icon>
      Scan ISBN
    </ion-button>
  </div>
  
</div>