<ion-content [fullscreen]="true" class="custom-login-page">
  <!-- Logo Section -->
  <div class="logo-section">
    <ion-img class="login-logo" src="assets/ReadRentalLibrary.png" alt="Read Rental"></ion-img>
  </div>

  <!-- Login Form -->
  <div class="login-form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button" (click)="login()">Login</ion-button>
    <ion-button expand="full" fill="clear" [routerLink]="['/signup']">Register</ion-button>
  </div>
</ion-content>
