<ion-content [fullscreen]="true" class="custom-login-page">
  <!-- The main content of the login page-->

  <!-- Section for the logo -->
  <div class="logo-section">
    <!-- Image component displaying the app logo -->
    <ion-img class="login-logo" src="assets/ReadRentalLibrary.png" alt="Read Rental"></ion-img>
  </div>

  <!-- Section containing the login form -->
  <div class="login-form">
    <!-- Form element with Angular formGroup directive for reactive forms and ngSubmit to handle form submission -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- Form field for email input -->
      <ion-item>
        <ion-label position="floating">Email</ion-label> <!-- Label for the email input -->
        <ion-input type="email" formControlName="email"></ion-input> <!-- Email input field bound to the form control named 'email' -->
      </ion-item>

      <!-- Form field for password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label> <!-- Label for the password input -->
        <ion-input type="password" formControlName="password"></ion-input> <!-- Password input field bound to the form control named 'password' -->
      </ion-item>

      <!-- Login button -->
      <ion-button expand="full" class="login-button" type="submit">Login</ion-button>
      <!-- Navigation button to the registration page -->
      <ion-button expand="full" fill="clear" [routerLink]="['/signup']">Register</ion-button>
    </form>
  </div>
</ion-content>
