.custom-signup-page {
  --background: #f3f3f3; /* Sets a light gray background color for the signup page */

  .logo-section {
    text-align: center; /* Centers the logo horizontally */
    margin-top: 40px; /* Adds space above the logo */

    .signup-logo {
      max-width: 30%; /* Limits the logo width to 30% of its container */
      height: auto; /* Ensures the height scales proportionally to the width */
      margin: 0 auto; /* Centers the logo within its container */
    }
  }

  .signup-form {
    padding: 40px; /* Adds padding around the signup form */
    text-align: center; /* Centers the form items horizontally */

    ion-item {
      margin-bottom: 20px; /* Adds space below each input item */
    }

    .signup-button {
      --background: #4682B4; /* Sets the background color of the signup button to a shade of blue */
      --color: #ffffff; /* Sets the text color of the signup button to white */
      margin-top: 20px; /* Adds space above the signup button */
    }
  }
}
