.custom-signup-page {
    --background: #f3f3f3;
  
    .logo-section {
      text-align: center;
      margin-top: 40px;
  
      .signup-logo {
        max-width: 30%;
        height: auto;
        margin: 0 auto;
      }
    }
  
    .signup-form {
      padding: 40px;
      text-align: center;
  
      ion-item {
        margin-bottom: 20px;
      }
  
      .signup-button {
        --background: #4682B4;
        --color: #ffffff;
        margin-top: 20px;
      }
    }
  }
  