<ion-content [fullscreen]="true" class="custom-signup-page">
  <!-- Main content area for signup page -->

  <!-- Section for displaying the logo -->
  <div class="logo-section">
    <!-- Image component for the app logo -->
    <ion-img class="signup-logo" src="assets/ReadRentalLibrary.png" alt="Read Rental"></ion-img>
  </div>

  <!-- Section containing the signup form -->
  <div class="signup-form">
    <!-- Form element with Angular formGroup directive for reactive forms and ngSubmit to handle form submission -->
    <form [formGroup]="regForm" (ngSubmit)="signUp()">

      <!-- Form field for full name input -->
      <ion-item>
        <ion-label position="floating">Full Name</ion-label> <!-- Label for the full name input -->
        <ion-input type="text" formControlName="fullName"></ion-input> <!-- Full name input field bound to the form control named 'fullName' -->
      </ion-item>

      <!-- Form field for email input -->
      <ion-item>
        <ion-label position="floating">Email</ion-label> <!-- Label for the email input -->
        <ion-input type="email" formControlName="email"></ion-input> <!-- Email input field bound to the form control named 'email' -->
      </ion-item>

      <!-- Form field for password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label> <!-- Label for the password input -->
        <ion-input type="password" formControlName="password"></ion-input> <!-- Password input field bound to the form control named 'password' -->
      </ion-item>

      <!-- Sign Up button -->
      <ion-button expand="full" class="signup-button" type="submit">Sign Up</ion-button>
      <!-- Navigation button to the login page -->
      <ion-button expand="full" fill="clear" [routerLink]="['/login']">Already have an account? Login</ion-button>
    </form>
  </div>
</ion-content>
